/* Empty. Add your own CSS if you like */
.item-thumbnail-left, .item-thumbnail-left .item-content {
    min-height: 72px;
}

.item h2 {
    margin-top: -5px;
}

.author-item {
    min-height: 60px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#author-avatar {
    top: 10px;
}

#bookitem  {
    min-height: 80px;
}

#bookthumb  {
    top: 5px;
    left: 5px;
    max-width: 50px;
    max-height: 64px;
}

#bookcover {
    max-width:100%;
    margin: 0 auto;  
    left: 0;
    right: 0;  
  
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.no-padding {
    padding: 0px !important;
}